:root {
            --primary-color: #1E4287;  /* Deep Blue */
            --secondary-color: #4D7298;  /* Slate Blue */
            --accent-color: #F5F5F5;  /* Light Gray */
            --text-color: #333333;
        }

body {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
}

.navbar {
    background-color: var(--primary-color);
}

.services-section {
    background-color: var(--accent-color);
}

.card-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.animate {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-in-out;
  }
  .animate.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .zoom-in {
    transform: scale(0.8);
  }
  .zoom-in.visible {
    transform: scale(1);
  }
  .fade-in {
    opacity: 0;
    transform: translateX(-50px);
  }
  .fade-in.visible {
    opacity: 1;
    transform: translateX(0);
  }